node_modules/
bower_components/
coverage/
www/
npm-debug.log
docs/build
.idea/
tools/build/config/config.json
platforms/
plugins/
engine/
*.ipa
builds/*.ipa
builds/*.app
builds/*.apk
.DS_Store
.io-config.json
!/platforms/android/src/fr/flattracker/MainActivity.java
!/platforms/android/res/values/parseplugin.xml
!/platforms/android/res/values/colors.xml
