ion-view
  ion-content.flattracker-background
    .card
      .item
        img.full-image(src="../logo.png")
      .item.item-text-wrap
        button.button.button-block.button-positive.icon-left.ion-social-facebook(ng-click="login()") Se connecter
