ion-view
  ion-header-bar(align-title="center", class="bar-stable")
    h1.title Mon profil
  ion-content
    .list
      .card
        .item.item-avatar
          img(ng-src="{{ user.pictureUrl }}")
          h2 {{ user.name }}
          p Tracker

      .card
        .item.item-text-wrap
          button.button.button-positive.button-block.icon-right.ion-arrow-swap(ui-sref="homepage", ng-click="switchMode()") Passer en mode searcher
          logout
  bottom-menu
