ion-footer-bar(ng-class="{'bar-stable': isSearcher, 'bar-dark': !isSearcher}")
  .button-bar
    a.button.icon.ion-search(ui-sref="homepage", ng-show="mode=='searcher'")
    a.button.button-dark.icon.ion-search(ui-sref="visit-request-list", ng-show="mode=='tracker'")
    a.button.icon.ion-navicon-round(ui-sref="visit-list", ng-show="mode=='searcher'")
    a.button.button-dark.icon.ion-navicon-round(ui-sref="visit-list-tracker", ng-show="mode=='tracker'")
    a.button.icon.ion-person(ui-sref="profile", ng-show="mode=='searcher'")
    a.button.button-dark.icon.ion-person(ui-sref="profile-tracker", ng-show="mode=='tracker'")
