ion-footer-bar.bar-stable
  .button-bar
    a.button.button-stable.icon.ion-search(ui-sref="homepage")
    a.button.button-stable.icon.ion-navicon-round(ui-sref="visit-list")
    a.button.button-stable.icon.ion-person
