ion-view
  ion-header-bar(align-title="center", class="bar-stable")
    .buttons
      button.button.button-stable.icon.ion-home(ui-sref="homepage")
    h1.title Détail d'une visite
    .button
      ion-spinner(ng-show="loading")
  ion-content
    .list
      .card
        .item.item-text-wrap
          p ID : {{ visit.id }}
          p URL : {{ visit.url }}
