ion-view
  ion-header-bar(align-title="center", class="bar-stable")
    h1.title Détail d'une visite
    .button
      ion-spinner(ng-show="loading")
  ion-content
    .list
      visit-card(visit="visit")
      .card(ng-if="visit.tracker")
        .item.item-divider.item-icon-left
          i.icon.ion-ios-videocam
          | Vidéos
        .item
          img(ng-src="{{urlForClipThumb(clip)}}", ng-click="showClip(clip)", style="height:160px")
          button.button.button-balanced.button-block(ng-click="captureVideo()") Prendre une vidéo
      .card(ng-if="visit.tracker")
        .item.item-divider.item-icon-left
          i.icon.ion-chatboxes
          | Activités
        .item.item-icon-right.item-input-inset.add-comment-input
          form(role="form", name="addCommentForm", ng-submit="postMessage()")
            textarea(msd-elastic, name="comment", placeholder="{{ commentPlaceholder }}", ng-model="form.comment", required)
            button.button-clear.button.button-dark.icon.ion-android-send(ng-disabled="addCommentForm.$invalid || addCommentFormDisabled")
        .item.item-avatar.item-text-wrap.message(ng-repeat="message in visit.messages")
          img(ng-src="{{ message.author.pictureUrl }}")
          h2 {{ message.author.name }}, le {{ visit.created_at | date:"lll" }}
          p.content
            | {{ message.content }}
  ion-footer-bar(class="bar-stable")
    .button-bar
      a.button.button-stable.icon.ion-search(ui-sref="homepage")
      a.button.button-stable.icon.ion-navicon-round(ui-sref="visit-list")
      a.button.button-stable.icon.ion-person
