ion-view
  ion-header-bar(align-title="center", class="bar-stable")
    h1.title Liste des mes visites
    .button
      ion-spinner(ng-show="loading")
  ion-content
    .list
      visit-card(visit="visit", ng-repeat="visit in visits", ng-show="visit.tracker.id==user.id")
  bottom-menu
