ion-view
  ion-header-bar(align-title="center", class="bar-stable")
    .buttons
      button.button.button-stable.icon.ion-home(ui-sref="homepage")
    h1.title Toutes les visites
    .button
      ion-spinner(ng-show="loading")
  ion-content
    .list
      visit-card(visit="visit", ng-repeat="visit in visits")
