ion-view
  ion-header-bar(align-title="center", class="bar-stable")
    .buttons
      button.button.button-stable.icon.ion-home(ui-sref="homepage")
    h1.title Mes visites
  ion-content
    .list
        .card
          .item.item-text-wrap
          p Liste de mes visites