ion-view
  ion-header-bar(align-title="center", class="bar-stable")
    h1.title FlatTracker
  ion-content.flattracker-background
    .card
      .item
      .item.item-text-wrap
        img.full-image(src="logo_cropped.png")
        p Bonjour {{ user.name }} !
        input(type="url", placeholder="Saisissez l'URL de l'annonce !")
    .card
      .item.item-text-wrap
        logout
