ion-view
  ion-header-bar(align-title="center", class="bar-stable")
    h1.title FlatTracker
  ion-content.flattracker-background(scroll="true")
    .card
      .item.item-text-wrap
        p Bonjour !
        button.button.button-clear(ng-click="logout()") Se déconnecter
