ion-view
  ion-header-bar(align-title="center", class="bar-stable")
    h1.title FlatTracker
  ion-content
    .list
      .card
        .item.item-text-wrap
          img.full-image(src="logo_cropped.png")
          p Bonjour {{ user.name }} !

      .card
        form.create-visit-form(name="createVisitForm", ng-submit="createVisit(url)")
          label.item.item-input.item-floating-label
            span.input-label
              | Saisissez l'URL de l'annonce !
            input(type="text", placeholder="Saisissez l'URL de l'annonce !", ng-model="url", required)
          .padding
            button.button.button-positive.button-block(ng-disabled="createVisitForm.$invalid") Visitez pour moi !

      .card
        .item.item-text-wrap
          button.button.button-balanced.button-block(ui-sref="visit-request-list") Mode tracker
          logout
  ion-footer-bar(class="bar-stable")
    .button-bar
      a.button.button-stable.icon.ion-search(ui-sref="homepage")
      a.button.button-stable.icon.ion-navicon-round(ui-sref="visit-list")
      a.button.button-stable.icon.ion-person






