ion-view
  ion-header-bar(align-title="center", class="bar-stable")
    h1.title FlatTracker
  ion-content.flattracker-background
    .card
      .item.item-text-wrap
        p Bonjour {{ user.name }} !
        logout
